body{
  font-family: sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-page {
  background: linear-gradient(0deg, #540000, #ff0000);
  height: calc(100vh - 56px);
}
.login-section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 35%;
  min-height: 25rem;
  box-shadow: 0 2px 16px 2px #70000040;
}
.input-section input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.input-section input:focus {
  box-shadow: none;
  outline: none;
  border:  1px solid #ff0000;
}
.login-heading h3 {
  text-align: center;
  margin-bottom: 20px;
  }
  .fortgotpassword {
    text-align: right;
}.fortgotpassword a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
}
.submit {
  text-align: center;
}
.submit button.btn {
  color: #fff;
  background: #f44336;
  min-width: 100px;
}
.submit button.btn:hover {
  color: #fff;
  background: #ba2b21;
  min-width: 100px;
}
nav.navbar a {
  color: #333;
}
nav.navbar a:hover {
  color: #f44336;
}
button.navbar-toggler.collapsed {
  background: #f44336;
} 
.section-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1515612148533-6247582c12c7?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE4MzU4NzQ&ixlib=rb-1.2.1&q=80);
  background-size: cover;
  background-position: center;
  filter: brightness();
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.container {
  text-align: center;
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 1.15rem;
  letter-spacing: 3px;
  margin: 20px 0 40px;
}

.home-button {
  color: white;
  text-decoration: none;
  border: 2px white solid;
  padding: 10px 15px;
}

.home-button:hover,
.home-button:focus {
  background: hsl(0, 100%, 100%, .2);
  outline: none;
}

.section-two {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-two {
  display: flex;
  padding: 50px;
  gap: 20px;
  width: 100%;
}

.content h1 {
  font-size: 2.75rem;
}

.content h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #f44336;
  margin: 5px 0;
}
.content p {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.content-image img {
  width: 300px;
  object-fit: scale-down;
}


footer {
  width: 100%;
  background: #212121;
  color: white;
  padding: 25px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-content {
  margin: 0 50px 0;
}

.footer-content svg {
  width: 50px;
  fill: white;
}

.footer-content h6 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 25px;
  color: #D1A370;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  margin: 25px 0;
}

.footer-content ul li a {
  text-decoration: none;
  color: white;
}

.footer-content ul li a:hover,
.footer-content ul li a:focus {
  color: hsl(32, 51%, 63%, 0.7);
}
 
  
@media (max-width: 767px) {
  .section-two {
    height: 100%;
  }.footer-container {
    flex-direction: column;
  }
  .content-image img { 
    width: 100%;
}
.footer-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
}
  .container-two {
    flex-direction: column;
    height: 100%;
  }
}


